.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.15em;

    @media screen and (max-width: 942px) {
        font-size: 14px;
    }

    .black {
        color: black;
    }

    .gradient {
        background: linear-gradient(295.38deg, #ffe5a2 4.89%, #bf841a 50.44%, #ffcd74 95.06%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

.black-text-button {
    background: linear-gradient(295.38deg, #FFE5A2 4.89%, #BF841A 50.44%, #FFCD74 95.06%);
}

.black-text-button:hover {
    background: linear-gradient(295.38deg, #BF841A 4.89%, #FFE5A2 50.44%, #BF841A 95.06%);
    cursor: pointer;
}

/*.gradient-text-button {
    position: relative;
}

.gradient-text-button::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0;
    width: 20%;
    height: 50%;
    border-top: 1px solid #bf841a;
    border-left: 1px solid #bf841a;
}*/
