.footer {
    margin: 7% 0;
    
    .footerCont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 7px;

        & h1 {
            background: linear-gradient(295.38deg, #ffe5a2 4.89%, #bf841a 50.44%, #ffcd74 95.06%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            font-size: 28px;
            font-weight: 700;
            line-height: 50px;
            letter-spacing: 0.03em;
        }

        & p {
            font-weight: 400;
            letter-spacing: 0.03em;
            text-align: center;
        }

        .contactCont {
            margin-top: 1.5%;
            display: flex;
            align-items: center;
            gap: 32px;

            .contactIcon {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}